.footer {
  background-color: #cdd2d8;
  padding: 20px;
  bottom: 0;
  position: fixed;
  width: 100%;
  right: 0;
  left:0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

.app-name {
  flex-grow: 1;
  text-align: center;
}

.social-media {
  display: flex;
  gap: 10px;
}

.social-icon {
  text-decoration: none;
  color: #4796eb;
}

.social-icon:hover {
  text-decoration: underline;
}
